[workspace]
members = [
  "sdk",
]
resolver = "2"

[package]
name = "lade"
version = "0.12.2-beta.1"
edition = "2024"
description = "Automatically load secrets from your preferred vault as environment variables, and clear them once your shell command is over."
license = "MPL-2.0"
repository = "https://github.com/zifeo/lade"

[dependencies]
anyhow = "1.0.99"
self_update = { version = "0.42.0", features = [
  "archive-tar",
  "archive-zip",
  "compression-flate2",
  "compression-zip-deflate",
  "compression-zip-bzip2",
] }
serde = { version = "1.0.219", features = ["derive"] }
serde_yaml = "0.9.34"
clap = { version = "4.5.47", features = ["derive"] }
regex = "1.11.2"
lade-sdk = { path = "./sdk", version = "0.12.2-beta.1" }
tokio = { version = "1", features = ["full"] }
indexmap = { version = "2.11.1", features = ["serde"] }
clap-verbosity-flag = "3.0.4"
env_logger = "0.11.8"
openssl = { version = "0.10.73", features = ["vendored"] }
serde_json = "1.0.143"
futures = "0.3.31"
path-clean = "1.0.1"
directories = "6.0.0"
sysinfo = "0.38.0"
chrono = { version = "0.4.42", features = ["serde"] }
log = "0.4.28"
semver = "1.0.26"
textwrap = "0.16.2"

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.30.1", features = ["signal"] }

[dev-dependencies]
assert_cmd = "2.0.17"
tempfile = "3.10.1"
